/* Clearfix by Nicolas Gallagher */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font: 100%/1.5 "Open Sans", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
	background: url(../img/bg01.jpg) repeat scroll 0% 0% rgba(0,0,0,0.85);
	color: rgb(200,200,200);
	font-size: 100%;
}

.container {
  margin: 0 auto;
}

/* =====================================================================
 *										Panel							*/

/* Sidebar width */
.sb-slidebar {
	top: 65px;
	width: 210px;
	box-shadow: 2px 2px 2px black;
}

.sb-slidebar.sb-style-overlay {
	z-index: 9998; /* Set z-index high to ensure it overlays any other site elements. */
}

ul.menulist {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.menulist ul {
	list-style: none;
}

ul.menulist li {
	width: 100%;
	padding: 0;
	margin: 0;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

ul.menulist > li:first-child {
	border-top: none;
}

ul.menulist > li:last-child {
	border-bottom: none;
}

ul.menulist li a {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	padding: 0.5rem 0.25rem;
	margin: 0;
	color: #DEDEDE;
	text-decoration: none;
}

ul.menulist span {
	margin-left: 20px;
	font-size: 1.1rem;
	text-align: left;
}

/* =====================================================================
 * 									Submenu								*/

.submenu {
	display: none;
	padding: 0;
	margin: 0;
	list-style: none;
	background-color: #666666;
}

/* =====================================================================
 * 									Icones								*/

img.panelhome {
	width: 32px;
	height: 32px;
	background: url(../img/menusprite.png) 0 -32px;
}

img.panelconfip {
	width: 32px;
	height: 32px;
	background: url(../img/menusprite.png) 32px 0;
}

img.panelconflist {
	width: 32px;
	height: 32px;
	background: url(../img/menusprite.png) 0 0;
}

img.panelmeteo {
	width: 32px;
	height: 32px;
	background: url(../img/menusprite.png) 0 -64px;
}

img.panelabout {
	width: 32px;
	height: 32px;
	background: url(../img/menusprite.png) 32px -32px;
}

/* =====================================================================
 *										Header							*/

header {
	position: fixed;
	top: 0;
	z-index: 9999;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	align-items: stretch;
	width: 100%;
	min-height: 65px;
	padding: 3px;
	background: url(../img/bg01.jpg) repeat scroll 0% 0% rgba(0,0,0,0.85);
	border-bottom: 1px solid rgba(255,255,255,0.06);
	box-shadow: 2px 2px 2px black;
}

/* Icone gauche & droite */
#home, #weather {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
}

#home img, #weather img {
	height: 48px;
	width: 48px;
}

#weather span {
	font-size: 2rem;
	font-weight: normal;
	display: none;
}

/* Mise en forme de la date & heure */
#date_heure {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	text-align: center;
}

/* =====================================================================
 *									Section 							*/

#sb-site {
	height: auto; /* Initially set here but accurate height is set by slidebars.js */
}

section {
	text-align: center;
	margin-top : 70px;
}

.column {
	float: left;
	padding-left: 1rem;
	padding-right: 1rem;
}

.column.full { width: 100%; }
.column.half { width: 50%; }

/* =====================================================================
 *								Affichage appareils						*/

.icone, .text {
	display: block;
	width: 90px;
	height: 90px;
	margin: 5px auto 0 auto;
	text-align: center;
	padding-bottom: 2px;
}

.text {
	font-size: 3rem;
	padding-top: 1rem;
}

/* =====================================================================
 *								Températures 							*/

.r0010 {
	color: #0058b7;
}

.r1020 {
	color: #2a7fff;
}

.r2030 {
	color: #309135;
}

.r3040 {
	color: #f6b81d;
}

.r4050 {
	color: #ff6600;
}

.r50plus {
	color: #d12c2c;
}

/* ===================================================================== 
 *									Météo					 			*/

.sunshine {
	background: url(../img/sunshine.png) no-repeat;
}

.cloudy {
	background: url(../img/cloudy.png) no-repeat;
}

.forecast {
	display: inline-block;
}

/* =====================================================================
 *						CSS pour les fichiers de configuration			*/

/* <ul> */
#SortedList, #UnusedList { 
	list-style-type: none;
	margin: 5% 0;
	padding: 0;
}

/* <li> */
#SortedList li, #UnusedList li, .listePlaceholder {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: row;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	padding: 0 5px;
	background: rgba(10,10,10,0.3);
	border-top: none;
	border-bottom: 1px solid rgba(255,255,255,0.06);
	border-right: 1px solid rgba(255,255,255,0.06);
	border-left: 1px solid rgba(255,255,255,0.06);
	cursor: move;	
}

/* En-tete de liste */

/* Premier élément de chaque liste */
#SortedList li:first-of-type, #UnusedList li:first-of-type {
	border-top: 1px solid rgba(255,255,255,0.06);
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	font-weight: bold;
	padding: 5px;
}

/* Petite icone représentant le type de switch*/
#SortedList img, #UnusedList img {
	width: 48px;
	height: 48px;
}

/* Nom de l'appareil */
#SortedList .nom, #UnusedList .nom {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	padding: 0 5px;
}

/* Texte affichée lorsque l'appareil est une sonde */
#SortedList .text, #UnusedList .text {
	font-size: 1rem;
	padding-top: 0;
	width: 48px;
	height: 48px;
}

/* Bouton 'Enregistrer' */
.sendbutton {
	color: #666;
}

/* Champs de formulaires IP/Port et météo */

div>form {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

.configForm {
	text-align: right;
	margin-left: auto;
	margin-right: auto;
}

p.configForm>label {
	display: block;
	float: left;
	width: 30%;
}

p.configForm>input {
	width: 70%;
	color: rgb(92,92,92);
}

/* ====================================================================
				Media Queries				*/

/* Augmentation de la taille globale du texte, et celle des icones */
@media screen and (min-width: 40.5rem) {
	html {
		font-size: 112%;
	}
	
	.icone, .text {
		width: 128px;
		height: 128px;
	}
	
	.icone {
		cursor: pointer;
	}
	
	#weather, #date_heure, #home {
		cursor: pointer;
	}
	
	#weather span {
		display: inline;
	}

	div>form {
	width: 30%;
}
}

/* Augmentation de la taille globale du texte*/
@media screen and (min-width: 64rem) {
	html {
		font-size: 120%;
	}
}
