/* Clearfix by Nicolas Gallagher */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font: 100%/1.5 "Open Sans", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
	background: rgba(0,0,0,0.85);
	color: rgb(200,200,200);
	font-size: 100%;
}

.container {
  margin: 0 auto;
}


/* =====================================================================
				Header					*/

header {
	border-bottom: 1px solid white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

/* Icone gauche & droite */
#home img, #config img {
	height: 48px;
	width: 48px;
}

/* Mise en forme de la date & heure */
#date_heure {
	flex: 1;
	text-align: center;
}

/* =====================================================================
				Section 				*/

section {
  text-align: center;
}

.column { margin-bottom: 1.5rem; }


/* =====================================================================
			Affichage appareils				*/

.icone {
	display: block;
	width: 90px;
	height: 90px;
	margin: 5px auto 0 auto;
	text-align: center;
	padding-bottom: 2px;
}

.text {
	font-size: 3rem;
	padding-top: 1rem;	
}

/* Températures */

.r0010 {
	color: #0058b7;
}

.r1020 {
	color: #2a7fff;
}

.r2030 {
	color: #309135;
}

.r3040 {
	color: #f6b81d;
}

.r4050 {
	color: #ff6600;
}

.r50plus {
	color: #d12c2c;
}

/* Météo */

.sunshine {
	background: url(../img/sunshine.png) no-repeat;
}

.cloudy {
	background: url(../img/cloudy.png) no-repeat;
}


/* =====================================================================
		CSS pour les fichiers de configuration			*/

/* <ul> */
#SortedList, #UnusedList { 
	list-style-type: none;
	margin: 5% 0;
	padding: 0;
}

/* <li> */
#SortedList li, #UnusedList li {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	padding: 0 5px;
	background: rgba(10,10,10,0.3);
	border-top: none;
	border-bottom: 1px solid rgba(255,255,255,0.06);
	border-right: 1px solid rgba(255,255,255,0.06);
	border-left: 1px solid rgba(255,255,255,0.06);
	cursor: move;
	
}

/* Premier élément de chaque liste */
#SortedList li:first-of-type, #UnusedList li:first-of-type {
	border-top: 1px solid rgba(255,255,255,0.06);
}

/* Petite icone représentant le type de switch*/
#SortedList img, #UnusedList img {
	width: 48px;
	height: 48px;
}

/* Nom de l'appareil */
#SortedList .nom, #UnusedList .nom {
	flex: 1;
	padding: 0 5px;
}

/* Texte affichée lorsque l'appareil est une sonde */
#SortedList .text, #UnusedList .text {
	font-size: 1rem;
	padding-top: 0;
	width: 48px;
	height: 48px;
}

/* Bouton 'Enregistrer' */
.sendbutton {
	color: #666;
}

/* ====================================================================
				Media Queries				*/


@media screen and (min-width: 20rem) {
	.column {
		float: left;
		margin: 0;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.column.full { width: 100%; }
	.column.half { width: 50%; }
}

/* Augmentation de la taille globale du texte, et celle des icones */
@media screen and (min-width: 40.5rem) {
	html {
		font-size: 112%;
	}
	
	.icone {
		width: 128px;
		height: 128px;
		cursor: pointer;
	}
}

/* Augmentation de la taille globale du texte*/
@media screen and (min-width: 64rem) {
	html {
		font-size: 120%;
	}
}
